*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* WAVE*/

a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}
a #a-up {
    text-transform: uppercase;
}
section {
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(to top, #173f7481,#0d305f);
    overflow: hidden;
}
section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;

}
section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity:1 ;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity:0.5 ;
    animation-delay: -5s;
    bottom: 10;
}
section .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity:0.2 ;
    animation-delay: -2s;
    bottom: 15;
}
section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity:0.7 ;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -1000px;
    }
}

/* WAVE End*/

.arrow {
    animation: arrow 3s linear infinite;
    position: absolute;
    font-size: 50px;
    top: 87%;
    opacity: 1;
    z-index: 1100;
    transition: all .3s;
    color: black;
    text-align: center;
}
.arrow i {
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
}
@keyframes arrow {
    0%
    {
        top: 95%;
    }
    50%
    {
        top: 98%;
    }
    100%
    {
        top: 95%;
    }
}
.con {
        display: flex;
        justify-content: center;
}

.shop-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 5%;
    color:#565656;
    text-transform: uppercase;
  }
  .shop-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }
.card-custom-2 {
    box-shadow: 0 10px 10px rgba(10, 10, 10, 0.096);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    top: 0%;
}
.card-custom-2:hover {
    box-shadow: 0 10px 10px rgba(10, 10, 10, 0.219);
    top: 3%;
}
.card:hover {
    margin: 3px solid grey;
}
.container-fluid1 { 
    position: relative;
    z-index: 99;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background:#FDF4FA;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.header li {
    display: inline-block;
    padding: 10px 20px 0px 10px;
    transition: all 0.3s ease 0s;
}
.header li a {
    transition: all 0.3s ease 0s;
    color: #1B3C69;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.header li a:hover {
    color: #000000;
    padding-bottom: 30px;
    border-bottom: 3px solid #1B3C69;
    padding-top: 25px;
    border-top: 3px solid #1B3C69;
    text-decoration: none;
}
.header li a:active {
    color: rgb(155, 155, 155);
    padding-bottom: 30px;
    border-bottom: 3px solid #1B3C69;
    padding-top: 25px;
    border-top: 3px solid #1B3C69;
    text-decoration: none;
}
.logo img {
    float: left;
    width: 50px;
    height: 50px;
}
.logo a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.logo a:hover {
    text-decoration: none;
    color: black;
}
.item {
    position: relative;
    top: 25%;
    padding: 20px;
    margin-left: 15%;
    border-radius: 8px;
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 100;
}
  
.dsc {
    width: 100%;
}
.dsc h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.dsc p {
    color: rgba(255, 255, 255, 0.575);
}
a:hover {
    text-decoration: none;
}
.img-11 img {
    position: relative;
    z-index: 100;
    width: 650px;
    left: 20%;
    transform: rotate(0deg);
}
@media (max-height: 800px) {
    .img-11 img {
        top:-100px;
    }
}

.about-us {
    width: 100%;
    height: 65%;
    color: #000000a9;
    padding-top: 6%;
    padding-bottom: 3%;
    background-image: linear-gradient(to top,#D9E0E8,white );
    
    /*background-image: url("../assets/img/home_bottom_bg.832b9c8.png");
    background-position: center; /* Center the image */
    /*background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: cover; /* Resize the background image to cover the entire container */
  }
  .about-us-2 {
    width: 100%;
    height: 65%;
    color: #000000a9;
    padding-top: 6%;
    background-image: linear-gradient(to bottom,white,white);
    /*background-image: url("../assets/img/home_bottom_bg.832b9c8.png");
    background-position: center; /* Center the image */
    /*background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: cover; /* Resize the background image to cover the entire container */
  }
  .about-us p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    text-align: center;
    font-weight: 200;
  }
  .about-us-title {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 2%;
  }
  b {
      font-weight: 600;
  }
  @media (max-width: 768px) {
    .img-1 {
        visibility: hidden;
    }
    .item {
        margin-left: 0%;
        align-items: center;
    }
    .about-us-title {
        padding-top: 15%;
    }
}
.img-1 {
    z-index: 100;
}

.shop-1 {
    background-image: url(../assets/img/back-2.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:fixed center;
    background-color: #174074;
}
.ie {
    color: pink;
}
.row {
    margin: 0%;
    padding: 0%;
}
.card-body .p {
    font-weight:bolder;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}
.card-body {
    padding-top: 0px;
    margin-top: 0;
}
.title-about-us h3 {
    float: left;
    color: #1A3B68;
    padding: 0.7%;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 700;
}
@media  (max-width: 992px) {
    .title-about-us h3 {
        float: initial;
    }
    .img-1 {
        visibility: hidden;
        top: -100px;
    }
}
@media  (min-width: 1024px) {
    .img-1 {
        position: relative;
        z-index: 100;
        width: 650px;
        left: 40%;
        top: -100px;
        transform: rotate(0deg);
}
}
@media  (min-width: 1400px) {
    .title-about-us h3 {
        float: initial;
    }
    .img-1 {
            position: relative;
            z-index: 100;
            width: 650px;
            left: 40%;
            top: 000px;
            transform: rotate(0deg);
    }
}
.title-about-us p {
    font-size: 16px;
    font-weight: 650;
    font-family: 'Montserrat', sans-serif;
}
.card-custom {
  overflow: hidden;
  min-height: 350px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  margin-bottom: 0px;
  padding-bottom: 0px;
  transition: 0.2s ease-in-out;
  top: 0%;
  cursor: pointer;
}
.card-custom:hover {
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.685);
    top: 3%;
}
.card-custom1 {
    overflow: hidden;
    min-height: 200px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  }
.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}
.price {
    position: absolute;
    right: 9%;
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-weight: 600;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    top: 77%;
}
.price-red {
    color: rgb(93, 93, 93);
    position: absolute;
    right: 11%;
    font-size: 22px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    top: 86%;
    text-decoration: line-through;
}
.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 130px;
  width: 60px;
  height: 60px;
  left: 40%;
}
.btn-2 {
    border: 1px solid #FFFFFF;
}
.button {
    text-decoration: none;
    padding: 2.4% 5.8%;
    transition: 0.6s;
    border: none;
    color: black;
    border-radius: 10px;
    float: left;
    border: 1px solid #1A3B68;
    background-color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.button:link {
    text-decoration: none;
}
.button:hover {
    text-decoration: none;
    color: white;
    background-color: #1A3B68 ;
}
.button5 {
    text-decoration: none;
    padding: 2.4% 5.8%;
    transition: 0.6s;
    border: none;
    color: black;
    border-radius: 10px;
    float: left;
    border: 1px solid #1A3B68;
    background-color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.button5:link {
    text-decoration: none;
}
.button5:hover {
    text-decoration: none;
    color: white;
    background-color: #1A3B68 ;
}
.btn1 {
    background-color: #284873;
    border: 1px solid #1A3B68; 
    text-decoration: none;
    padding: 1% 10%;
    transition: .2s ease-in-out,transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
    color:#ffffff ;
    padding: 4% 8%;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px 0px #1a3b68a8;
}
.btn1:link {
    text-decoration: none;
}
.btn1:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 10px 2px #1a3b68a8;
}
.card-footer {
    margin-bottom: 5%;
    padding-top: 0px;
    margin-top: 0px;
}
.best-title {
    color: #1A3B68;
    font-size: 20px;
    font-weight: 600;
}
.dsc p {
    font-weight: 600;
    font-size: 20px;
}
@media (max-width: 768px) {
    .item-2 {
        left: 30%;
        top: 30%;
    }
    .item-2:hover {
        left: 30%;
        top: 32%;
    }
}
.item-2:hover {
    top: 22%;
}

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 60px;
    height: 60px;
    transition: all .5s;
    cursor: pointer;
    border-radius: 40px;
    font-family: "sans serif";
    font-size: 30px;
    transition: all .3s;
    font-weight: bolder;
    border: none;
   }
   .back-to-top > img {
        width: auto;
        height : auto;
        max-height: 100%;
        max-width: 100%;
   }
   .back-to-top:hover {
    bottom: 13.5px;
    background-color: #3a5986;
    color: rgb(255, 255, 255);
   }
   .page-footer {
       background-image: linear-gradient(to bottom, white,#1A3B68);
        background-repeat:no-repeat;
        background-size:cover;
        background-position:fixed center;
        margin:0;
        padding:0;
        height: 40%;
        padding-bottom: 0%; 
        margin-bottom: 0%;
        bottom: 0%;
   }
   .page-footer a:hover {
       text-decoration: none;
       color: rgb(85, 85, 85);
    }
    .page-footer a {
        text-decoration: none;
        color: rgb(0, 0, 0);
     }
   .page-footer h5 {
       color: black;
   }
   .footer-copyright {
        margin: 0%;
        color: black;
        padding: 0%
   }
   .page-footer .container .row {
       margin-top: 15%;
   } 
   #top-button {
       display: block;
   }



   /* End index.php //// Start generator.php */

   .gen-item {
        font-size: 1.3em;
        position: relative;
        top: 15%;
        width: 100px;
        height: 70%;
        background: rgba(235, 238, 243, 0);
        align-items: center;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        color: white;
        z-index: 100;
   }
   .gen-item h2 {
    margin-bottom: 70px;
   }
   .generator-item {
        font-size: 1.3em;
        position: relative;
        top: 15%;
        width: 100px;
        min-height: 400px;
        background: #1e1c1c86;
        align-items: center;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        color: white;
        z-index: 100;
        border: 1px solid white;
        box-shadow: -10px -10px 30px 4px rgba(0,0,0,0,1), 10px 10px 30px 4px rgba(45,78,255,0.15);
   }
   @media (min-height: 900px) {
    .generator-item{
        height: 500px;
    }
    .left-acconts {
        font-size: 20px;
        bottom: 0px;
        position: relative;
        bottom: 0px;
        color: rgba(255, 255, 255, 0.507);
    }
}
@media (max-height: 900px) {
    .generator-item{
        height: 520px;
    }
}
@media (max-width: 700px) {
    .left-acconts {
        font-size: 15px;
    }
    .generator-item {
            height: 510px;
        }
    }
   .card-custom-1 {
    overflow: hidden;
    min-height: 200px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    z-index: 100;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 400px;
    
  }
  .card-custom-img-1 {
        height: 100px;
        min-height:100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-color: inherit;
  }
  .btn1-1 {
        background-color: white;
        border: 1px solid #1A3B68; 
        text-decoration: none;
        padding: 1% 10%;
        transition: 0.6s;
        color:#1A3B68 ;
        padding: 2% 6%;
        border-radius: 4px;
        font-size: 20px;
  }
    .btn1-1:link {
        text-decoration: none;
    }
    .btn1-1:hover {
        text-decoration: none;
        color: white;
        background-color: #1A3B68 ;
        cursor: pointer;
        border: 1px solid white; 
    }
    .left-acconts {
        font-size: 20px;
        bottom: 0px;
        position: absolute;
        bottom: 0px;
        color: rgba(255, 255, 255, 0.507);
    }
    .gen-button {
        padding: .75rem 1.25rem;
        border-radius: 4rem;
        color:  #1A3B68;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: .15rem;
        transition: all .3s ease; 
        position: relative;
        z-index: 1;
        box-shadow: none;
        font-weight: 700;
    }
    .gen-button:hover {
        color: #000000;
        }
        .gen-button a {
            text-decoration: none;
        }
        .gen-button a:hover {
            color: #000000;
            text-decoration: none;
            }
    .gen-header {
        display: flex;
        justify-content: center;
        align-items: center;
        background:#FDF4FA;
        width: 100%;
        z-index: 100;
        border-radius: 10px;
        margin-bottom: 2%;
    }
    .gen-header li {
        display: inline-block;
        padding: 5px 10px 0px 10px;
        transition: all 0.3s ease 0s;
    }
    .gen-header li a {
        transition: all 0.3s ease 0s;
        color: #1B3C69;
        font-weight: 550;
        font-family: sans-serif;
        font-size: 18px;
    }
    .gen-header li a:hover {
        color: #788adb;
        text-decoration: none;
    } 
    .icons {
        display: inline-block;
        height: 10%;
        width: 16%;
        margin: 3% 2%;
        margin-bottom: 4%;
        font-size: 25px;
    }
    i {
        color:#1B3C69 ;
    }
    .progress-bar-1 {
        position: absolute;
        width: 300px;
        min-height: 30px;
        bottom: 5%;
        right: 8%;
        border: 1px solid white;
        font-size: 20px;
    }
    .progress-bar-text {
        position: absolute;
        width: 300px;
        min-height: 30px;
        bottom: 0%;
        right: 8%;
        font-size: 10px;
    }
    .progress-bar-text h2 {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
    @media (max-width: 700px) {
        .progress-bar-1 {
            position: absolute;
            width: 300px;
            min-height: 30px;
            bottom: 20%;
            right: 20%;
            font-size: 10px;
        }
        .progress-bar-text {
            position: absolute;
            width: 300px;
            min-height: 30px;
            bottom: 15%;
            right: 20%;
            font-size: 10px;
        }
        .left-acconts {
            font-size: 20px;
            bottom: 0px;
            position: absolute;
            text-align: center;
            color: rgba(255, 255, 255, 0.507);
        }
        .gen-button {
            top: 0%;
        }
    }
    @media (max-width: 1200px) {
        .progress-bar-1 {
            position: absolute;
            width: 300px;
            min-height: 30px;
            bottom: 20%;
            right: 20%;
            font-size: 10px;
        }
        .progress-bar-text {
            position: absolute;
            width: 300px;
            min-height: 30px;
            bottom: 15%;
            right: 20%;
            font-size: 10px;
        }
        .gen-button {
            top: 0%;
        }
    }
s
#divText {
    color: white;
}
#divText:hover {
    color: white;
    text-decoration: none;
}
.youraccount {
    background-color: #ffffff;
    border-radius: 4px;
    width: 40%;
    max-width: 40%;
    color: black;
    position: absolute;
    left: 50%;

}
.text-area {
    border-radius: 6px;
}
.fa-arrow-down {
    color: white;
}
.out-off {
    height:120px;
  min-height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
  position: absolute;
  top:20%;
  right: 15%;
  transform: rotate(-20deg)
}
.generate-link {
    color: #ffffff;
}
.generate-link:hover {
    color: #c3c2c2;
    text-decoration: none;
    
}